.clock__display, .clock__time-input {
    margin: 4rem auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.display {
    background-color: $clock-bg-color;
    border: 2px solid $clock-border-color;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
}

.display__indication {
    color: $clock-indication-color;
    font-size: 4rem;
    font-weight: 300;
}

.time-input__form {
    width: 25rem;
}
